<p id="notice"><%= notice %></p>

<h1>Listing Image Conmments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Image</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_conmments.each do |image_conmment| %>
      <tr>
        <td><%= image_conmment.user_id %></td>
        <td><%= image_conmment.image_id %></td>
        <td><%= image_conmment.comment %></td>
        <td><%= link_to 'Show', image_conmment %></td>
        <td><%= link_to 'Edit', edit_image_conmment_path(image_conmment) %></td>
        <td><%= link_to 'Destroy', image_conmment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image conmment', new_image_conmment_path %>
